/* style.css */

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #242424;
}

header {
    background-color: #333;
    color: white;
    position: sticky;
    top: 0;
}
h1 {
    font-size: 3em;
    margin: 0;
    padding-left: 14px;
    border-bottom: 1px solid #bbb;
}
.navtab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navpoint {
    float: left;
}

.navpoint a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navpoint a:hover{
    background-color: #111;
}

#active {
    background-color: #04AA6D;
}

p {
    line-height: 1.4em;
}


#blog {
    display: flex;
}